
@{
	ViewData["Title"] = "ChangePassword";
}
<div class="row">
		@Html.AntiForgeryToken()

<form id="form">
		<input type="hidden" id="userID" name="@ViewBag.userID" value="@ViewBag.userID" />
		<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">Current Password<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="CurrentPassword" name="CurrentPassword" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">New Password<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="NewPassword" name="NewPassword" class="form-control" onchange="newpassword()">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">Confirm Password<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="Conformpassword" name="Conformpassword" class="form-control" onchange="Validate()">
				<span id='message'></span>
			</div>
	</div>
	<div class="form-group">
		<label class="col-12 col-md-2 col-xl-2 control-label" for="demo-text-input"></label>

<br/>
			
			<div class="col-12 col-md-8 col-xl-12">
				<input type="button" value="Submit" id="btn_Submit" class="btn btn-primary" onclick="Sava_update()" />
			</div>
	</div>
</form>
			@*Write code here*@
</div>
			@section scripts {
	<script>
		function newpassword() {
			var CurrentPassword = document.getElementById("CurrentPassword").value;
			var NewPassword = document.getElementById("NewPassword").value;
			if (CurrentPassword == NewPassword) {
				Swal.fire({
					icon: 'error',
					title: "<h1 style='color:red'>" + 'Error' + "</h1>",
					text: 'Your current password can not be with new password!',
				});
				return false;
			}
			return true;
		}
		
    </script>
	<script>
		function Validate() {
			var NewPassword = document.getElementById("NewPassword").value;
			var Conformpassword = document.getElementById("Conformpassword").value;
			if (NewPassword != Conformpassword) {
				Swal.fire({
					icon: 'error',
					title: "<h1 style='color:red'>" + 'Error' + "</h1>",
					text: ' NewPassword and Conformpassword not matched!',
				});
				
				return false;
			}
			
			return true;
		}
        $("#form").validate({
            rules: {
                userID: {
                    required: true
                },
                CurrentPassword: {
                    required: true
                },
                NewPassword: {
                    required: true
                },
				Conformpassword: {
                    required: true
                },
                            },
            messages: {
                userID: {
                    required: "Please enter userID"
                 },
                CurrentPassword: {
                    required: "Please enter Current Password"
                 },
                NewPassword: {
                    required: "Please enter New Password"
                 },
				Conformpassword: {
					required: "Please enter Confirm password"
                 },
                
           },
            	
            highlight: function (element) {	
                $(element).removeClass("is-valid")		
                $(element).parent().addClass('error')		
                $(element).addClass("is-invalid")	
            },	
            unhighlight: function (element) {	
                $(element).parent().removeClass('error')	
                $(element).removeClass("is-invalid");	
                $(element).addClass("is-valid")	
            }	
        });
			function Sava_update() {
			if ($("#form").valid() && Validate()&&newpassword()) {
				
					var Updatepass ={ 
			        userID:$("#userID").val(),
					CurrentPassword:$("#CurrentPassword").val(),
					NewPassword:$("#NewPassword").val(),
					Conformpassword: $("#Conformpassword").val(),
					
				};
			$.ajax({
				type: "POST",
					url: "/CodeGenLogin/changePassword",
			beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
			data:Updatepass,
			content: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (result) {
						if (result.data == 1) {
						Swal.fire({
							icon: 'success',
							title: result.responseText,
							text: result.responseMessage,

							}).then((value) => {
								if (value) {
									
									location.reload();
								}

							});
						}else{
							Swal.fire({
								icon: 'error',
								title: result.responseText,
								text: result.responseMessage,
							});
						}
					},
			error: function (result) {
						Swal.fire({
							icon: 'error',
							title: result.responseText,
							text: result.responseMessage,
						});
					}, 
			});
			}
		}
		</script>
}
