@{
    ViewData["Title"] = "ForgetPassword";
}
<h1>New Password</h1>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Enter NewPassword</label>
            <input type="text" class="form-control" id="txtnewpass" />
            <label class="control-label">Confirm NewPassword</label>
            <input type="text" class="form-control" id="txtconfirmpass" />
        </div>
        <br />
        <div class="form-group" id="continuebutton">
            <input type="submit" value="Continue" class="btn btn-primary" onclick="generateotp()" />

        </div>
    </div>
</div>

<script>
    function generateotp() {
        if (validate()) {
            var user = {
                Domainpassword: $('#txtnewpass').val(),
                Domainname: '@ViewBag.domain',
            };
            $.ajax({
                url: '@Url.Action("Newpassword", "CodeGenLogin")',
                data: user,
                type: "POST",

                success: function (res) {
                    if (res.responseText == "Success") {
                        Swal.fire({
                            icon: 'success',
                            title: res.responseText,
                            text: res.responseMessage,
                        }).then((value) => {
                            if (value) {
                                location.href = "../CodeGenLogin/login";

                            }
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: res.responseText,
                            text: res.responseMessage,
                        });
                    }
                },
                error: function (result) {
                    Swal.fire({
                        icon: 'error',
                        title: result.responseText,
                        text: result.responseMessage,
                    });
                },
            });
        }
        function validate() {
           
            if ($('#txtnewpass').val() == '') {
                swal.fire('Please Enter New Password!');
                $('#txtnewpass').focus();
                return false;
            }
            else if ($('#txtconfirmpass').val() == '') {
                swal.fire('Please Enter Confirm New Password!');
                $('#txtconfirmpass').focus();
                return false;
            }
            else if ($('#txtnewpass').val() != $('#txtconfirmpass').val()) {
                swal.fire(" New Password and confirm New password do not match!");
                $('#txtconfirmpass').focus();
                return false;
            }
            else if ($('#txtnewpass').val().length < 8) {
                swal.fire("Password min 8 char!");
                $('#txtnewpass').focus();
                return false;
            }
            else
                return true;
        }
     }

</script>